<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Machine</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>Add Machine</h1>
<form action="/templates/admin/machines/save" method="post" th:object="${machine}">
    <label>Name:</label><input type="text" th:field="*{name}"/><br>
    <label>Type:</label><input type="text" th:field="*{type}"/><br>
    <label>Available:</label><input type="checkbox" th:field="*{availability}"/><br>
    <button type="submit">Save</button>
</form>
</body>
</html>
