<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User - Projects</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>Available Projects</h1>
<table border="1">
    <tr>
        <th>ID</th><th>Name</th><th>Description</th><th>Status</th>
    </tr>
    <tr th:each="p : ${projects}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.description}"></td>
        <td th:text="${p.status}"></td>
    </tr>
</table>
</body>
</html>
